body {
  overflow-x: hidden;
  background-color: #0B0B0B;
}

.img-bar {
  width: 119px;
  height: 39px;
  left: 50px;
  top: 22px;
}

.bg-card {
  background-color: #0B0B0B;
}

.icon-edit {
  color: #ABABAB;
  margin-left: 210px;
  margin-top: 30px;
  font-size: 25px;
}

.icon-edit:hover {
  color: #FFFFFF;
}

.bio {
  font-family: Avenir;
  margin-left: -28px;
  margin-top: 20px;
  font-size: 14px;
  color: #FFFFFF;
}

.line-followers {
  border-left: 1px solid rgba(106, 106, 106, 0.3);
  border-right: 1px solid rgba(106, 106, 106, 0.3);
}

.menu {
  border-top: 1px solid rgba(106, 106, 106, 0.3);
  border-bottom: 1px solid rgba(106, 106, 106, 0.3);
  text-align: left;
  margin-left: 10%;
  font-size: 18px;
  width: 84%;
  padding-top: 26px;
  padding-bottom: 15px;
  margin-top: 30px;
  color:  #ABABAB;
}

.title-feed-a {
  text-decoration: none;
  color: #ABABAB;
}

.title-feed-a:hover {
  text-decoration: none;
  color:  #FFFFFF;
}

.icon-feed {
  color: #ABABAB;
}

.icon-explore {
  color: #ABABAB;
}

.icon-logout {
  color: #ABABAB;
}

.logout {
  text-align: left;
  margin-left: 10%;
  font-size: 18px;
  padding-top: 23px;
  color:  #FFFFFF;;
}


.navbar-right-feed {
  background-color: #0B0B0B;
  margin-left: 455px;
  padding-bottom: 120px;
}

.search-feed {
  width: 350px !important;
  background-color: rgba(210, 210, 210, 0.25);
  border: none;
  padding: 6px 0;
  margin-top: 5px;
  color: #FFFFFF;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.search-feed:focus {
  border: none;
}

.icon-serch-feed {
  background-color: rgba(210, 210, 210, 0.25);
  border: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  color: #ABABAB;
  margin-top: 5px;
  height: 36px;
}

.icon-Notifikasi {
  color: #ABABAB;
  font-size: 20px;
  margin-right: 20px;
  margin-top: 5px;
  cursor: pointer;
} 

.title-feed-right {
  position: absolute;
  font-size: 25px;
  margin-top: 115px !important;
}

.button-post {
  margin-top: 5px;
  width: 130px;
  height: 36px;
  background: linear-gradient(90deg, #4DD4F7 0%, #9090FB 36.46%, #FF6B81 71.35%, #FBDF63 100%);
  border: none;
  font-size: 14px;
}

.plus {
  background: rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 7px !important;
  padding-left: 7px !important;
}

.icon-plus {
  font-size: 14px;
}

.create {
  margin-top: -30px !important;
}


.title-feed-right {
  position: absolute;
  font-size: 25px;
  margin-top: 115px !important;
}

.card-feed {
  background-color: #0B0B0B;
  justify-content: space-around;
  margin-left: 20px;
  margin-top: 70px;
}

.img-feed {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.prof-box {
  width: 289px;
  height: 90px !important;
  margin-left: -18px;
  margin-top: -10px;
  background-color: white !important;
}

.card-profile {
  width: 100%;
  margin-top: -80%;
  margin-left: 2%;
  border-radius: 50%;
}

.card-box-profile {
  width: 25px;
  height: 25px;
  background: linear-gradient(90deg, #4DD4F7 0%, #9090FB 36.46%, #FF6B81 71.35%, #FBDF63 100%);
  margin-top: 17px;
  position: absolute;
  margin-left: -16px;
  border-radius: 50%;
}

.card-icon {
  color: white;
  margin-top: 4% !important;
  position: absolute;
  color: #ABABAB;
}

.card-bodys {
  margin-top: -30px;
}

.comment {
  margin-left: -25px;
}

.heart {
  margin-left: -55px;
}

.like {
  position: absolute;
  margin-left: 60%;
  font-size: 14px;
  color: #ABABAB;
}

.name-post {
  position: absolute;
  margin-left: 20px;
  margin-top: -13px;
}

.card-head {
  columns: 3;
  column-gap: 10px;
  margin-top: 120px;
}

.card-head .card-feed {
  display: inline-flex;
  margin-bottom: -25px;
}

.nav-like {
  display: flex;
  width: 107% !important;
  height: 30px;
  margin-bottom: -100px;
}

.num-like {
  color: #ABABAB;
  margin-top: 10px;
  font-size: 12px;
}

.left-feed {
  position: top;
}

.button-upload {
  margin-top: 200px;
  margin-left: 20px;
}

.caption {
  margin-top: 15px;
  background: #D2D2D2;
  width: 700px;
  padding-bottom: 220px;
  margin-left: 2px;
}

.input-name {
  margin-top: 15px;
  background: #D2D2D2;
  width: 700px;
  padding-bottom: 12px;
  margin-left: 2px;
  margin-bottom: 10px;
}